/* src/index.css */

body {
  @font-face {
    font-family: GalleryModern;
    src: url("./assets/GalleryModern.otf")format('opentype');
    
  }
  font-style: italic;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor:url('assets/animal_aquatic_wildlife_fish_swordfish_icon_209467.svg') 0 0, auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding-top: 40px; 
}

.barra {
  background-color: #052D3A;
  width: 100vw;
  height: 175px;
  position: relative; 
}

.logo {
  padding-top: 40px;
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  height: 175px;
  z-index: 10; 
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #333;
}

.wine-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor:url("./assets/animal_aquatic_wildlife_fish_swordfish_icon_209467.svg")  0 0, pointer;
}

.wine-card:hover {
  transform: scale(1.18);
  transition: transform 0.5s ease;
  background-color: #052D3A;
  cursor:url("./assets/animal_aquatic_wildlife_fish_swordfish_icon_209467.svg")  0 0, pointer;
}

.wine-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.wine-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.wine-card p {
  color: #666;
  margin: 5px 0;
  font-weight: bold;
}

.wine-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 800px;
  margin: 40px auto;
}

.wine-details img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  object-position: center;
  margin-right: 20px;
  border-radius: 8px;
}

.wine-details-content {
  flex: 1;
}

.wine-details-content h1 {
  font-size: 2em;
  margin: 20px 0;
  color: #333;
}

.wine-details-content p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #666;
}

.wine-details-content .price {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
  color: #e67e22;
}

.wine-details-content .quantity {
  font-size: 1.2em;
  margin: 10px 0;
}

.wine-details-content button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor:url("./assets/animal_aquatic_wildlife_fish_swordfish_icon_209467.svg")  0 0, auto;
  transition: background-color 0.3s;
}

.wine-details-content button:hover {
  background-color: #2980b9;
}





/* Media queries per smartphone */
@media screen and (max-width: 768px) {
  .header {
    padding-top: 20px; 
  }

  .barra {
    height: 150px; 
  }

  .logo {
    padding-top: 20px; 
    height: 150px; 
  }

  .home {
    padding: 10px; 
  }

  .wine-card {
    width: calc(50% - 20px); 
  }

  .wine-card:hover {
    transform: scale(1.18);
    transition: transform 0.5s ease;
    background-color: #052D3A;
    
  }
}




/* Media queries per tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .barra {
    height: 150px; 
  }

  .logo {
    height: 150px; 
  }

  .home {
    padding: 15px; 
  }

  .wine-card {
    width: calc(33.33% - 20px); 
  }
}
